/* --- CSS mio per index --- */


/* Bootstrap css per colonne */
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
    }

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Proprietà interne alla griglia */
.themed-grid-col {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0.5px solid black;
  text-align: center;
}

/* logo */
.display-5 {
	font-size: 72px;
	font-family: Antic;
	color: #edaa2d;
	background-color: #996600;
	border-radius: 10px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	box-shadow: 0px 2px 4px 0px black;
}

/* contenitore logo+testo */
#presentazione {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 10px !important;
	padding-left: 10px !important;
}

/* all */
body {
	background-color: #edaa2d;
}

/*  */
#txtPresentaz {
	font-size: 24px;
	margin-bottom: 0px !important;
}

/* riga */
.row {
	margin-bottom: 0px !important;
}

/*  */
footer {
	margin-top: 30px !important;
	margin-bottom: 15px !important;
	padding-top: 10px !important;
}

/* form per numero tavolo */
#nTavolo {
	margin-top: 10px;
	margin-bottom: 100px;
}

/* righe */
hr {
	color: #423823;
}

/*  */
#griglia {
	margin-bottom: 70px;
	margin-top: 10px;
}

/* celle */
.col-4 {
    padding-left: 5px;
}

/* interno bottoni */
.btn {
    background-color: #996600;
    color: #edaa2d;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;  
}

/* animazione bottoni */
.btn:active {
    background-color: #825600;
    box-shadow: 0 5px #533700;
    transform: translateY(4px);
}

/* contenitore bottoni di conferma */
.confirmButton {
    margin-left: 50px;
    margin-right: 50px;
}

/* bottoni piuMeno */
.bottonePiuMeno {
    height: 40px;
    width: 40px;
    padding: 0px;
    border-radius: 15px;
}

/* contatore ordini */
.contatore {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
}

/* contatori nel riepilogo */
.contatoreRec {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 18px;
}

/* bottoni piuMeno */
.incrementa, .decrementa {
    padding: 0px;
    border: 5px;
    border-radius: 15px;
}

.incrementa:active {
    background-color: #8c8370;
    box-shadow: 0 4px #e6e3df;
    transform: translateY(2px);
}

.decrementa:active {
    background-color: #8c8370;
    box-shadow: 0 4px #e6e3df;
    transform: translateY(2px);
}

/* ancore */
a {
    color: #212529;
}

a:hover {
    color: #212529;
}

#nTavolo {
    margin-bottom: 70px;
}

/* nTavolo del riepilogo */
#displayNTav {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}


#nTavoloRecap {
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
    border-top: 1px!important;
    border-bottom: 1px!important;
}

#recapBtn {
    padding: 15px;
}

#myAncora {
    display: grid;
    padding: 0px;
    border: 0px;
}